#grid {}

.grid-row {
    display: flex;
    flex-direction: row;
}

.grid-cell {
    width: 3em;
    height: 3em;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-cell.cell-filled {
    background-color: lightgoldenrodyellow;
}

.grid-cell.cell-empty {
    background-color: lightblue;
}

.robot {
    background-color: lightgray;
    box-sizing: border-box;
    border: 5px solid darkgray;
    border-radius: 1em;
    width: 2em;
    height: 2em;
}

.robot-facing-right {
    border-right-color: greenyellow;
}

.robot-facing-left {
    border-left-color: greenyellow;
}

.robot-facing-top {
    border-top-color: greenyellow;
}

.robot-facing-bottom {
    border-bottom-color: greenyellow;
}

.grid-cell.cell-empty .robot-facing-right {
    border-right-color: red;
}

.grid-cell.cell-empty .robot-facing-left {
    border-left-color: red;
}

.grid-cell.cell-empty .robot-facing-top {
    border-top-color: red;
}

.grid-cell.cell-empty .robot-facing-bottom {
    border-bottom-color: red;
}